.card-container {
    display: flex;
    width: 100%;
    height: 100%; /* Full screen height */
    border:1px solid black;
  }
  
  
  .card-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 50%; /* Half of the parent container */
  }
  